<ion-content class="background" [fullscreen]="true">



  <div id="container">
    <br><br>

    <p style="font-size: 35px;">PLANTS</p>

    <p style="font-size: 60px; color: white;">_</p>
    <br><br><br>
    <p><b> We help you live <br>
        feel free life from stress</b>
    </p>
    <br><br><br><br><br><br>

    <ion-button href="/record" shape="round" id="btn0"><b>SIGN IN</b></ion-button>
    <br><br>
    <ion-button shape="round" id="btn011">SIGN IN WITH FACEBOOK</ion-button>


    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <a href="#"><u>New Account?</u></a>
  </div>


</ion-content>