<ion-content class="background2">


  <div class="half">
    <br><br><br>
    <p > <b> PLANTS <br> _ </b></p>

    <br><br>

    <p style="color: white;"> We help you live <br> feel free life from stress</p>
    <br><br><br><br><br><br><br><br>

  </div>




  <br><br>

  <div class="input-btn" style="display:flex; flex-direction: column;">
    <ion-button shape="round" fill="clear" id="x">X</ion-button>
    <br><br>



    <ion-input id="lebza" shape="round">&nbsp;&nbsp;&nbsp;Email:</ion-input>
    <ion-input id="lebza" shape="round">&nbsp;&nbsp;&nbsp;Password:</ion-input>

    <ion-button id="btn23" href="./home" shape="round"><b>SIGN UP</b></ion-button>

  </div>


  <br><br>
  <br>
  <a href="#"><u>New Account?</u></a>

</ion-content>